body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    font-weight: bolder;
    font-style: italic;

}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;

    /* shorthand font para simplificar as linhas de cima */ 

    font: italic bolder 3em 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

    /*ordem:
    font-style > font-weight > font-size > font-family
    */
}